<h3>Binarization</h3>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv("train.csv",usecols=['Age','Fare','SibSp','Parch','Survived'])
df.head()

   Survived   Age  SibSp  Parch     Fare
0         0  22.0      1      0   7.2500
1         1  38.0      1      0  71.2833
2         1  26.0      0      0   7.9250
3         1  35.0      1      0  53.1000
4         0  35.0      0      0   8.0500

In [3]:
df.dropna(inplace=True)

In [4]:
df["family"] = df["SibSp"] + df["Parch"]
df.head()

   Survived   Age  SibSp  Parch     Fare  family
0         0  22.0      1      0   7.2500       1
1         1  38.0      1      0  71.2833       1
2         1  26.0      0      0   7.9250       0
3         1  35.0      1      0  53.1000       1
4         0  35.0      0      0   8.0500       0

In [6]:
# we want to devide the passanger on the basis of whether he is travelling alone or not
# for this purpose we have to use binarization
df.drop(columns=["SibSp","Parch"],inplace=True)

In [7]:
df.head()

   Survived   Age     Fare  family
0         0  22.0   7.2500       1
1         1  38.0  71.2833       1
2         1  26.0   7.9250       0
3         1  35.0  53.1000       1
4         0  35.0   8.0500       0

In [15]:
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,1:],df.iloc[:,0],random_state=42,test_size=0.2)

In [16]:
from sklearn.preprocessing import Binarizer
trf = ColumnTransformer([
    ("binarizer",Binarizer(copy=False),["family"]),
],remainder="passthrough")

In [20]:
X_train_trf=trf.fit_transform(X_train)
X_test_trf=trf.fit_transform(X_test)

In [23]:
X_train_trf[:10]

array([[ 1.    , 31.    , 20.525 ],
       [ 1.    , 26.    , 14.4542],
       [ 1.    , 30.    , 16.1   ],
       [ 0.    , 33.    ,  7.775 ],
       [ 0.    , 25.    , 13.    ],
       [ 0.    , 40.    , 27.7208],
       [ 0.    , 22.    ,  7.8958],
       [ 1.    , 42.    , 27.    ],
       [ 0.    , 31.    ,  8.6833],
       [ 1.    , 18.    ,  6.4958]])

In [24]:
X_train_trf = pd.DataFrame(X_train_trf,columns=["family","Age","Fare"])
X_test_trf = pd.DataFrame(X_test_trf,columns=["family","Age","Fare"])

In [25]:
X_train_trf.head()

   family   Age     Fare
0     1.0  31.0  20.5250
1     1.0  26.0  14.4542
2     1.0  30.0  16.1000
3     0.0  33.0   7.7750
4     0.0  25.0  13.0000

In [27]:
clf = DecisionTreeClassifier()
clf.fit(X_train_trf,y_train)  
y_pred = clf.predict(X_test_trf)
accuracy_score(y_pred,y_test)

0.5944055944055944

In [28]:
#cross validate
np.mean(cross_val_score(DecisionTreeClassifier(),X_train_trf,y_train,cv=10,scoring="accuracy"))

0.637568058076225